.discover-the-serenita-village {
    display: flex;
    flex-direction: column;
    padding: 3.75rem 11.4375rem;
}

.discover-the-serenita-village-content {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}

.discover-the-serenita-village-content-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: 26rem;
    height: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.discover-the-serenita-village-content-left-title {
    font-size: 4rem;
    color: var(--deep-forest-green);
    text-align: left;
    position: relative;
}

.discover-the-serenita-village-content-left-title::after {
    content: '';
    display: block;
    width: 100%;
    height: .3125rem;
    background-image: url(/assets/hero/green-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 28%;
    left: -12%;
}

.discover-the-serenita-village-content-left-buttons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.25rem;
}

.btn-prev,
.btn-next {
    width: 4.25rem;
    height: 4.25rem;
    background-color: var(--dark-teal);
    padding: 1.375rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--greendlewald);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.btn-prev:hover,
.btn-next:hover {
    background-color: var(--greendlewald);
    border: 1px solid var(--chrysler-arctic-white);
}

.btn-prev svg,
.btn-next svg {
    fill: var(--greendlewald);
    transition: fill 0.5s ease-in-out;
}

.btn-prev:hover svg,
.btn-next:hover svg {
    fill: var(--chrysler-arctic-white);
}

.discover-the-serenita-village-content-right {
    max-width: 100%;
    overflow: hidden;
}

.swiper,
.swiper-wrapper {
    width: 100%;
}


.swiper-slide {
    border-radius: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.categories {
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.categories button {
    flex: 1;
    padding: .625rem 1.25rem;
    background: transparent;
    border: 1px solid var(--lagoon-shadow);
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    color: var(--lagoon-shadow);
    font-size: 1.125rem;
    cursor: pointer;
}

.categories button.ativo,
.categories button:hover {
    transition: all 0.5s ease-in-out;
    background-color: var(--bright-olive);
}

.cta-discover-the-serenita-village {
    margin-top: 3.75rem;
    justify-self: center;
}

@media (max-width: 1570px) {
    .discover-the-serenita-village {
        padding: 3.75rem 4rem;
    }
}

@media (max-width: 1250px) {
    .discover-the-serenita-village-content {
        flex-direction: column;
        align-items: center;
    }

    .discover-the-serenita-village-content-left {
        min-width: auto;
        text-align: center;
    }

    .discover-the-serenita-village-content-left-title {
        text-align: center;
        font-size: 3rem;
    }

    .discover-the-serenita-village-content-left-title::after {
        bottom: 15%;
        width: 40%;
        left: 30%;
    }

    .discover-the-serenita-village-content-left-buttons {
        align-self: center;
    }
    .discover-the-serenita-village-content-left-buttons svg {
        width: 1.5rem;
        height: 1.5rem;
    }

}

@media (max-width: 870px) {
    .discover-the-serenita-village-content-left-title::after {
        content: none;
    }
}