.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.75rem 11.125rem;
    background-image:
        radial-gradient(circle, var(--forest-green), var(--greendlewald));

    text-align: center;
    gap: 2.5rem;
}

.video-container {
    width: 754px;
    height: 100%;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
}

.video-player {
    display: block;
    width: 100%;
    height: auto;
    outline: none;
    background: #000;
}



@media (max-width: 1570px) {
    .video {
        padding: 3.75rem 4rem;
    }
}

@media (max-width: 768px) {
    .video {
        box-sizing: border-box;
        padding: 4rem 3.75rem;
    }

    .video-container {
        max-width: 100%;
        max-height: 100%;
    }

    .video-image {
        width: 100%;
        height: auto;
    }
}